{% extends 'student/base.html' %}
{% block content %}


<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">
          <button type="submit" onclick="history.back()" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">arrow_back</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </div>
      <div class="row">

        <div class="col-md-12">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role="alert" style="text-align: center;">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Edit Profile</h4>
              <p class="card-category text-warning">Some fields are not change at user level</p>
            </div>
            <div class="card-body">
              <form method="post" action="/student/profile">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-5">

                    <div class="form-group">
                      <label class="bmd-label-floating">Username:  {{ user.username }}</label>
                      <input type="text" class="form-control" disabled>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="bmd-label-floating">Change Password</label>
                      <input type="text" class="form-control" name="newPassword" disabled value="Disabled for Random User">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Email:  {{ user.email }}</label>
                      <input type="email" class="form-control" disabled>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Name: {{ user.first_name }}</label>
                      <input type="text" class="form-control" name="stud_name">
                    </div>
                  </div>
                  
                </div>
                
                 
               
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <h3>Courses you registered</h3>
                      <div class="form-group">
                        {% for course in course %}
                        <label class="bmd-label-floating">{{ course.name }}</label><br>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function activate() {
      var element = document.getElementById('profile');
      element.classList.add("active");
    }
    activate();
  </script>
  {% endblock %}