{% extends 'teacher/base.html'%}
{% block content %}
     
      <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style=" text-align: center; padding: 10px 0px;">
                <h1 class="d-lg-block d-md-block">{{ course.name }}</h1>
                <h6 class="d-lg-block d-md-block">Course Code: {{ course.course_code }}</h6>
        
                </div>
                
              </div>         
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  
                </div>
                <div class="card-body">
                    
                    <form method="POST" action="/teacher/course/view-assignment/{{ course.id }}/{{ assignment.id }}/{{ student_id }}/assignment-check-view">
                    {% csrf_token %}
                     <h3 style="text-align: center">Assignment No {{ assignment.assignment_no }}: {{ assignment.assignment_name }}</h3>
                    
                    {% for q,a in ques_and_ans %} 
                    <div>
                       <h5 style="margin-top: 20px;">Q.{{ forloop.counter }} {{ q }}</h5>
                      <p>Ans:  {{ a }}</p>
                      
                    </div>
                    {% endfor %}
                
                    <div style="margin-top: 20px;" class="row">
                        <div class="col-md-4">
                            <b><input class="form-control" style="font-size: large;" type="text" placeholder="Give Marks" disabled></b>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" placeholder="Marks Obtained" name="marks_obtained">
                    </div>
                   
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Marks Out of " name="marks_outof">
                    </div>
                        
                    </div>
                    

                    <div style="margin-top: 20px; text-align: center;">
                    <input type="button" onclick="history.back()" class="btn btn-success" value="Back">
                    <input type="submit" class="btn btn-success" value="Submit">
                    </div>
                  </form>
                 
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>

    {% endblock %}