{% extends "login/base.html" %}
{% block content %}


<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Reset Password</h4>
              <p class="card-category">Forgot your Password? Don't Worry......</p>
            </div>
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                  <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      {{ form }}
                    </div>
                  </div>
                  
                </div>
                <button type="submit" class="btn btn-primary " style="padding: 11px 29px;">Reset Password</button>
                <a href="/login/login_student" class="btn btn-primary pull-right">Back</a>
              </form>
            </div>
          </div>
        </div>
        
      </div>
    </div>
</div>
{% endblock %}